@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

body {
    background-color: lightgray;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topArrangement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.topArrangement .userdiv {
    display: flex;
    align-items: center;
  }

.topArrangement button {
    background-color: #27AE60;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: #27AE60 0.3s ease;
}

.topArrangement button:hover {
    background-color: #229954;
}

.panelDiv {
    background-color: #E5E7E9;
    /* border-radius: 30px; */
    border: 1px solid #5F6A6A ;
    border-radius: 30px;
    margin-bottom: 20px;
}


.photoDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 20px;
}

.deleteCircularDiv {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 30px
}